@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    width: 100%;
    margin-top: 85px;
    min-height: 387px;
    background: url(/assets/images/banner-desktop.jpeg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: #063166;
    width: 100%;
    padding: 25px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}
header.sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;

}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a {
    color: #111;
}
.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.about {
    background: #f7f7f7;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}
.contentBx {
    padding-right: 30px;
}
.contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.w50 {
    min-width: 50%;
}
.w100 {
    width: 100%;
}
.margin-top {
    margin-top: 30px;
}

img {
    max-width: 100%;
}

.services {
    background: #ffac14;
}

.heading.white {
    color: #fff;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx {
    padding: 40px 20px;
    background: #00438a;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    border-radius: 20px;
}

.services .content .servicesBx:hover {
    background: #2196f3;
}

.services .content .servicesBx img {
    max-width: 80px;
    filter: invert(1);
}

.services .content .servicesBx h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.services .content .servicesBx p {
    font-size: 14px;
}

.testimonial {
    background: #f7f7f7;
}

.testimonial .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial .content .testimonialBx {
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #00438a;
    border-radius: 5px;
}

.testimonial .content .testimonialBx p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.testimonial .content .testimonialBx h3 {
    margin-top: 10px;
    text-align: start;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;

}

.testimonial .content .testimonialBx ul {
    color: #fff;
    margin-bottom: 30px;
}

.testimonial .content .testimonialBx h3 span {
    font-size: 14px;
    font-weight: 400;
}

.contact {
    background: #ae1a21;

}

.formbx {
    min-width: 50%;
}

.formbx form {
    display: flex;
    flex-direction: column;

}

.formbx form h3,
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formbx form input,
.formbx form textarea  {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #fff;
  color: #222;
  resize: none;
}

.formbx form textarea {
    min-height: 80px;
    max-height: 120px;
}

.formbx form input::placeholder,
.formbx form textarea::placeholder {
    color: #999;
}

.formbx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    min-width: 40%;

}
.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;

}

.contactInfoBx .box .text h3 a {
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    text-decoration: none;

}

.contactInfoBx .box .text h3 a:hover {
    text-decoration: underline;
}

.copyright {
    background: #fff;
    color: #000;
    text-align: center;
    padding: 10px;
}

.contato-whatzapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}
.contato-whatzapp .texto-duvida {
    background: #ddd;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: display .5s;
    -webkit-transition: display .5s;
    -moz-transition: display .5s;
    -ms-transition: display .5s;
    -o-transition: display .5s;
}
.contato-whatzapp .texto-duvida p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #8a8888;
}

.contato-whatzapp .texto-duvida p strong {
    color: #444;
    font-weight: bold;
}
/* Responsivo */

@media (max-width: 991px){
    header,
    header.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu {
        position: fixed;
        top: 75px;
        left:-100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);

    }
    .menu.active {
        left: 0;
    }
    header ul li a {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .banner {
        margin-top: 80px;
        width: 100%;
        min-height: 500px;
        background: url(/assets/images/banner-tablet.jpeg);
        background-size: cover;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url(/assets/images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active {
        background: url(/assets/images/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    header.sticky .toggle {
        filter: invert(1);
    }

    section {
        padding: 100px 50px;
    }

    .banner {
        padding: 150px 50px 100px;
    }

    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2 {
        font-size: 24px;
    }

    .contentBx h3 {
        font-size: 20px;
    }

    .content {
        flex-direction: column;
    }

    .w50 {
        margin-bottom: 20px;
    }

    .services .content .servicesBx {
        margin: 10px;
    }

    .work .content .workBx {
        width: 100%;
        padding: 10px;
    }

    .testimonial .content .testimonialBx {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;

    }
    .testimonial .content .testimonialBx ul {
        margin: 0 20px;
    }
    .testimonial .content .testimonialBx h3 {
        margin-top: 20px;
    }
    .contactInfo {
        margin: 20px 0;
    }

}

@media (max-width: 600px){
    header,
    header.sticky {
        padding: 20px 20px;
    }

    .banner {
        padding: 150px 20px 100px;
        margin-top: 80px;
        width: 100%;
        min-height: 100vh;
        background: url(/assets/images/banner-mobile.jpeg);
        background-size: cover;

    }

    section {
        padding: 100px 20px;
    }
    .copyright {
        padding: 20px;
    }
}